*.suo
vm-api/wordmeister-api/obj/
vm-api/wordmeister-api/bin/
vm-api/wordmeister-api/.vs/wordmeister-api/DesignTimeBuild/.dtbcache.v2
vm-api/wordmeister-api/.vs/wordmeister-api/v16/TestStore/0/000.testlog
vm-api/wordmeister-api/vm-api/wordmeister-api/appsettings.json
vm-api/wordmeister-api/appsettings.json
wm-ui/node_modules/
*.ps1
*.cmd
*.cmd
